body {
  background-color: #0D1117;
}
.bg-light {
  background-color: white;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link  {
    font-family: Rubik One;
    font-style: normal;
    font-weight: normal;
    border-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0D1117;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .show > .nav-link {
 color: #5353AF;
}
.navbar-light .navbar-nav .nav-link.active{
  font-family: Rubik One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #5353AF;
}
.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .show > .nav-link {
  color: #0D1117;
}
.navbar-toggler {
    background-color: #0D1117;
}
.navbar-light .navbar-toggler {
    color: #5353AF;
    border-color: #5353AF;
}
.signin .nav-link{
  color:  #0D1117;
  font-family: Rubik One;
  border: 2px solid #0D1117;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
.signin .nav-link:hover {
  color:  #5353AF;
}